.para {
  margin-top: 280px;
  width: 550px;
  left: 160px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: 1s;
  z-index: 1000;
}
.para.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.para p {
  padding: 0;
  height: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: 1rem;
  font-style: italic;
  text-align: right;
  text-shadow: 0 0 10px #f5da0c8e;
}
@media (max-width: 1200px) {
  .para p {
    visibility: hidden;
    font-size: 12px;
    font-weight: 100;
  }
}
